body {
  width: 100%;
  text-align: center;
}
.pepe {
  background-color: #9453a6 !important;
}
.gree {
  background-color: #8cbf3f !important;
}
.yello {
  background-color: #f2cc0f;
}
.whit {
  background-color: #f2f2f2;
}
.blac {
  background-color: #0d0d0d;
}
